* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'San Francisco';
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

html {
    font-family: 'San Francisco', 'Noto Sans TC', sans-serif;
    font-size: 16px;
    color: #333;
    overflow: hidden;
}

body {
    background-color: #f2f2f2;
}

main {
    height: 100vh;
    margin: 0 0 0 200px;
    background-color: #FFF;
    overflow: scroll;
}

a {
    text-decoration: none;
    color: #333;
}

::placeholder {
    color: #777;
}

ul {
    list-style: none;
}

a:hover,
button:hover {
    opacity: 0.8;
}

input,
textarea {
    outline: none;
}


/* header */

header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    background-color: #f2f2f2;
    width: 100%;
}

header :nth-child(1) {
    display: flex;
}

.bars,
.search-bar {
    display: flex;
    align-items: center;
}

.bars .fa-bars {
    font-size: 1.8rem;
    margin-left: 2rem;
    color: #c7c7c7;
    cursor: pointer;
}


/* side nav */

.bars input[type="checkbox"] {
    display: none;
}

.bars ul {
    position: fixed;
    height: 100vh;
    left: -100%;
    top: 60px;
    left: 0;
    width: 200px;
    background-color: #FFF;
}

#click:checked~ul {
    left: -100%;
    transition: 0.8s;
}

.bars ul li img {
    height: 30px;
}

.bars ul li a {
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 4.5rem;
}

.bars ul li a:hover {
    opacity: 1;
    background-color: #e6e6e6;
}


/*  end side nav */

.search-bar input {
    margin-left: 1rem;
    padding: 0.5rem;
    border: 1px solid #c7c7c7;
    border-radius: 10px;
}

.search-bar button {
    font-size: 1.5rem;
    padding: 0.3rem;
    border: 0;
    background-color: #f2f2f2;
    color: #c7c7c7;
    cursor: pointer;
}

.search-bar button:hover,
.fas.fa-bars:hover {
    color: #777;
    transition-duration: 0.2s;
}

#logo img {
    position: absolute;
    display: flex;
    height: 3rem;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    margin: auto;
}

#user-icon img {
    height: 3.3rem;
    margin-right: 2rem;
}


/* main */

.container {
    position: relative;
    padding: 1rem 0 5rem 5rem;
}

.date {
    display: flex;
    align-items: baseline;
    margin-bottom: 0.5rem;
}

.date h1 {
    margin-right: 0.5rem;
}

#create-area {
    position: relative;
}

#create-area button {
    position: absolute;
    display: flex;
    bottom: 10px;
    justify-content: space-between;
}

#create-area textarea {
    position: relative;
    padding: 10px 0 0 0;
    width: 80%;
    border: 1px solid #c7c7c7;
    border-radius: 10px;
    background-color: #e6e6e6;
    resize: none;
}

.schedule.work textarea {
    position: relative;
    padding: 10px 0 0 0;
    width: 80%;
    border: 1px solid #c7c7c7;
    border-radius: 10px;
    background-color: #4bc28c;
    resize: none;
}