* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #333;
    overflow: hidden;
}

main {
    height: 100vh;
    background-color: #FFF;
    overflow-y: scroll;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    opacity: 0.8;
}

::placeholder {
    color: #777;
}

ul {
    list-style: none;
}

input,
textarea {
    outline: none;
}

i,
.user img,
button {
    cursor: pointer;
}

.fas:hover,
.fa:hover {
    color: #aaa;
    transition: 0.2s;
}

.fas:active,
.fa:active {
    color: #777;
}

/* header */
header {
    position: fixed;
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: #f2f2f2;
    z-index: 1;
}

.fa-bars,
.search-bar {
    display: flex;
}

/* menu */
.fa-bars {
    font-size: 2rem;
    margin-left: 2rem;
    color: #c7c7c7;
}

/* side menu */
#sideMenu {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 60px;
    width: 200px;
    background-color: #f2f2f2;
    transition: 0.5s;
    overflow: hidden;
}

#sideMenu img {
    height: 30px;
    width: 30px;
}

#sideMenu .sidemenu-top img,
#sideMenu .sidemenu-bottom img {
    padding-left: 30px;
}

#sideMenu .sidemenu-bottom {
    margin-top: 50%;
}

#sideMenu a {
    font-size: 16px;
    padding: 5px 0;
    display: flex;
    align-items: center;
}

.sidemenu-home {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

#sideMenu span {
    padding-left: 30px;
}

/* search-bar */
.search-bar {
    margin-left: 1rem;
}

.search-bar input {
    padding: 0.5rem;
    border: 1px solid #c7c7c7;
    border-radius: 10px;
}

.search-bar button {
    margin-left: 0.5rem;
    border: 0;
}

.fa-search {
    font-size: 1.5rem;
    background-color: #f2f2f2;
    color: #c7c7c7;
}


/* logo */
#logo img {
    position: absolute;
    height: 3rem;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    margin: auto;
}

/* user */
.user {
    display: flex;
    margin-left: auto;
    margin-right: 2rem;
}

.user-icon {
    display: flex;
    margin-left: 1rem;
    height: 2rem;
}

/* main */
#container {
    position: relative;
    top: 60px;
    margin-left: 200px;
    padding: 1rem 2rem 5rem 2rem;
}

#date {
    display: flex;
    align-items: baseline;
    margin-bottom: 0.5rem;
}

#date h1 {
    margin-right: 0.5rem;
}

/* task form */
#task-form {
    padding: 10px;
    border: 1px solid #c7c7c7;
    border-radius: 10px;
    background-color: #e6e6e6;
}

#task-input {
    font-size: 16px;
    resize: none;
    border: none;
    width: 95%;
    background-color: #e6e6e6;
}

.task-form-elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

#task-form input {
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 0px #333;
    margin-right: 5px;
    height: 20px;
}

#task-form .due-date, 
#task-form .assigned-to {
    width: 110px;
}

input[type=date]::-webkit-calendar-picker-indicator {
    margin-left: 0px;
}

#task-form .right {
    display: flex;
}

.task-form-icon {
    height: 20px;
    margin-right: 5px;
}

#task-form button {
    border: none;
    border-radius: 5px;
    width: 80px;
    height: 20px;
    background-color: #FFF;
    box-shadow: 0px 0px 2px 0px #333;
}

/* schedule */
#schedule {
    margin-top: 20px;
}

#task {
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    color: #FFF;
    background-color: #ff9999;
}

#task .id {
    margin-right: 20px;
}

/* update form */

/* responsive */
@media screen and (max-width: 780px) {
    .fa-bars {
        margin-left: 0.5rem;
    }
    .search-bar {
        margin-left: 1rem;
    }
    .user {
        margin-right: 0.5rem;
    }
}

@media screen and (max-width: 620px) {
    main {
        margin-left: 50px;
    }
    body {
        background-color: #FFF;
    }
    #sideMenu {
        width: 60px;
    }
    #sideMenu span {
        display: none;
    }
    .search-bar {
        margin-left: 0.5rem;
    }
    .search-bar input {
        width: 30%;
    }
    .search-bar button {
        margin-left: 0.2rem;
    }
}

@media screen and (max-height: 480px) {
    #sideMenu {
        overflow: scroll;
    }
}