* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


/* @font-face {
    font-family: 'San Francisco';
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
} */

html {
    font-family: 'San Francisco', 'Noto Sans TC', sans-serif;
    font-size: 16px;
    color: #333;
    overflow: hidden;
}

body {
    overflow-x: scroll;
}

main {
    height: 100vh;
    margin: 0 0 0 200px;
    background-color: #FFF;
    overflow: scroll;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    opacity: 0.8;
}

::placeholder {
    color: #777;
}

ul {
    list-style: none;
}

input,
textarea {
    outline: none;
}

i,
.user img,
button {
    cursor: pointer;
}

.fas:hover,
.fa:hover {
    color: #777;
    transition: 0.2s;
}


/* header */

header {
    position: relative;
    display: flex;
    align-items: center;
    height: 60px;
    background-color: #f2f2f2;
}

.fa-bars,
.search-bar {
    display: flex;
}


/* menu */

.fa-bars {
    font-size: 2rem;
    margin-left: 2rem;
    color: #c7c7c7;
}

/* side menu */

#sideMenu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 60px;
    left: 0;
    background-color: #FFF;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
  
#sideMenu a {
    padding: 8px 8px 8px 32px;
    font-size: 25px;
    display: block;
    transition: 0.3s;
}

/* search-bar */

.search-bar {
    margin-left: 1rem;
}

.search-bar input {
    padding: 0.5rem;
    border: 1px solid #c7c7c7;
    border-radius: 10px;
}

.search-bar button {
    margin-left: 0.5rem;
    border: 0;
}

.fa-search {
    font-size: 1.5rem;
    background-color: #f2f2f2;
    color: #c7c7c7;
}


/* logo */

#logo img {
    position: absolute;
    height: 3rem;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    margin: auto;
}


/* user */

.user {
    display: flex;
    margin-left: auto;
    margin-right: 2rem;
}

.user-icon {
    display: flex;
    margin-left: 1rem;
    height: 2rem;
}


/* main */

#container {
    position: relative;
    padding: 1rem 2rem 5rem 2rem;
}

.date {
    display: flex;
    align-items: baseline;
    margin-bottom: 0.5rem;
}

.date h1 {
    margin-right: 0.5rem;
}


/* add task */

#add-task {
    position: relative;
    padding: 10px 0 0 0;
    width: 100%;
    border: 1px solid #c7c7c7;
    border-radius: 10px;
    background-color: #e6e6e6;
}

#add-task #input_main {
    display: flex;
    resize: none;
    border: none;
    width: 95%;
    padding: 5px 5px 5px 5px;
    background-color: #e6e6e6;
}

#add-task input {
    padding: 5px;
    width: 95%;
    background-color: #e6e6e6;
    border: none;
    resize: none;
}

#add-task button {
    margin: 5px;
    border: none;
    box-shadow: 0px 0px 2px 0px #333;
    border-radius: 4px;
    bottom: 27px;
    width: 80px;
    height: 20px;
    background-color: #FFF;
}

#add-task .assigned {
    width: 80px;
    height: 10px;
    background-color: #FFF;
    box-shadow: 0px 0px 2px 0px #333;
    margin: 5px;
    border-radius: 5px;
    border-width: 1px;
}

#add-task .due-date {
    margin: 5px;
    border-radius: 5px;
    border-width: 1px;
    box-shadow: 0px 0px 2px 0px #333;
    border-color: #FFF;
    background-color: #FFF;
    height: 10px;
    width: 110px;
}

#add-task .textarea-icon {
    padding: 2px;
    width: auto;
    height: 20px;
}

#add-task .textfunction {
    display: flex;
    justify-content: space-between;
    padding: 2px;
}

#add-task .textarea-icon-button {
    display: flex;
    align-items: center;
    padding: 2px;
}

#add-task .textarea-button-content {
    padding: 2px;
}

#add-task .textarea-button-content {
    padding: 2px;
}

#add-task img {
    width: 25px;
}

#input-data-area {
    display: flex;
    justify-content: space-between;
}

/* task */
#display-data-area {
    margin-top: 20px;
    border: 1px solid #000;
    border-radius: 10px;
}

.list-group {
    margin: 10px auto;
}

.list-group .list-group-item {
    display: flex;
    justify-content: space-between;
}

/*date*/

input[type=date]::-webkit-calendar-picker-indicator {
    margin-left: 0px;
}

@media screen and (max-width: 780px) {
    .fa-bars {
        margin-left: 0.5rem;
    }
    .search-bar {
        margin-left: 1rem;
    }
    .user {
        margin-right: 0.5rem;
    }
}

@media screen and (max-width: 620px) {
    main {
        margin-left: 50px;
    }
    body {
        background-color: #FFF;
    }
    #menu ul {
        width: 60px;
    }
    #menu ul li span {
        display: none;
    }
    #menu ul li {
        margin-left: 0;
        justify-content: center;
    }
    .search-bar {
        margin-left: 0.5rem;
    }
    .search-bar input {
        width: 30%;
    }
    .search-bar button {
        margin-left: 0.2rem;
    }
}

@media screen and (max-height: 900px) {
    #menu ul {
        overflow: scroll;
    }
}