* {
    padding: 0%;
    margin: 0%;
}

body {
    margin: 0px;
}

.menu-bar {
    position: relative;
    height: 60px;
    background-color: #F2F2F2;
    align-items: center;
    display: flex;
    padding: 0 0 0 20px;
}

.menu img {
    width: 2rem;
}

.menu {
    display: flex;
    align-items: center;
}

.search {
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

.search-text {
    border: none;
    background-color: #b3b3b3;
    padding: 10px;
    border-radius: 10px;
    width: 150px;
}

.button-search {
    padding: 10px;
    border: none;
}

i .search-icon {
    width: 20px;
}

.logo img {
    position: absolute;
    width: 3rem;
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%;
    margin: auto;
    display: flex;
}

.user-name-icon {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 30px;
}

.user-name-icon img {
    padding: 0px 10px;
    width: 2rem;
}

p {
    display: flex;
}


/* left-menu */

.left-menu {
    border: #b3b3b3;
    border-right: 10px;
    border: gray;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.left-menu :nth-child(1) {
    display: flex;
    justify-content: center;
}

.left-menu a {
    display: flex;
    align-items: center;
}

.left-menu a img {
    width: 30px;
    padding: 10px 20px;
}


/* text */

.Time {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding: 0px 10px;
}

p {
    padding: 0px 10px 0px 0px;
    font-size: 30px;
    font-weight: bold;
}

#story {
    border-radius: 10px;
    background-color: #E6E6E6;
    border: none;
}

.date {
    border-width: 1px;
    border-color: #b3b3b3;
    border-radius: 0.5rem;
}

.Add-Schedule {
    width: 100px;
    height: 30px;
    border-width: 1px;
    border-color: #b3b3b3;
    border-radius: 0.5rem;
}

@media screen and (max-width:600px) {
    .search {
        display: none;
    }
    .user-name-icon {
        align-items: center;
        align-content: center;
        display: flex;
        flex-direction: row;
        position: absolute;
        right: 140px;
    }
    #logo-00 {
        position: absolute;
        display: flex;
        left: 10px;
        z-index: 1;
    }
    #logo-01 {
        position: absolute;
        display: flex;
        left: 30px;
        z-index: 2;
    }
    #logo-02 {
        position: absolute;
        display: flex;
        left: 50px;
        z-index: 3;
    }
    #logo-03 {
        position: absolute;
        display: flex;
        left: 70px;
        z-index: 4;
    }
}