* {
  padding: 0px;
  margin: 0px;
}

header {
  height: 44px;
  padding: 10px 0px;
}
header img,
header i {
  vertical-align: middle;
}
header .fas {
  font-size: 32px;
}
header .search {
  padding: 0px 10px;
  background-color: #b6b6b6;
  height: 30px;
  display: inline-block;
  border-radius: 5px;
  margin-left: 10px;
}
header .search input {
  background-color: #b6b6b6;
  border: 0px;
  vertical-align: middle;
}
header .search input::placeholder {
  color: black;
}
header .logo {
  width: 40px;
  margin-left: 200px;
}
header .face {
  width: 30px;
  float: right;
  margin-right: 20px;
}

main {
  display: flex;
}
main nav {
  width: 200px;
  height: calc(100vh - 70px);
  align-content: space-between;
}
main nav .align-top {
  vertical-align: middle;
  margin-top: 3px;
  width: 20px;
  height: 20px;
}
main .body {
  width: 100%;
  margin-left: 20px;
}
main .body .body_header {
  display: flex;
  justify-content: space-between;
}
main .body .body_main {
  background-color: #dbdbdb;
  border-radius: 5px;
  padding: 10px;
}
main .body .body_main input[type=text] {
  background-color: #dbdbdb;
  border: 0px;
}
main .body .body_main .body_main_footer {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
main .body .body_main .body_main_footer button {
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: white;
}
main .body .body_main .body_main_footer button:hover {
  color: black;
}
main .body .body_main .body_main_footer img {
  width: 30px;
}

.list-group {
  margin-top: 40px;
}
.list-group .list-group-item {
  display: flex;
  justify-content: space-between;
}